<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    包扫描-->
    <context:component-scan base-package="com.smbms"/>

    <!--  开启aop注解驱动  -->
    <aop:aspectj-autoproxy/>

    <!--  配置数据库连接文件  -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--  配置数据源  -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--  spring整合mybatis start  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 配置数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置pojo包下实体的别名 -->
        <property name="typeAliasesPackage" value="com.smbms.pojo"/>
        <!-- 配置映射器 使用* 表示通配 -->
        <property name="mapperLocations" value="classpath*:com/smbms/mapper/*.xml"/>
        <!--  添加分页插件 -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <value>
                            param1=mysql
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>
    <!-- 配置 MapperScannerConfigurer 扫描 dao层的接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定要扫描那个包下的dao接口 -->
        <property name="basePackage" value="com.smbms.repository"/>
        <!-- 配置sqlSession工厂的名字 要和SqlSessionFactoryBean 产生的实例 名字一样 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!-- end -->

    <!--  配置事务管理器  -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 如果用声明式事务，需要开启注解驱动 -->
    <!-- 注解的方式标注事务叫做声明式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>